.modal {
  width: 200px;
  background-color: yellow;
}

.left {
  background-color: red;
  width: 50%;
  float: left;
}

.right {
  background: pink;
  width: 50%;
  float: right;
}

.x {
position: absolute;
}
