body {
  font-family: Arial, sans-serif;
}


h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.divClassModal {
  display: none;
  position: fixed;
  z-intex: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.divClassModalContent {
  background-color: #fefefe;
  margin: 15% auto;
  border-radius: 1px solid #888;
  width: 800px;
}

.spanClassModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.spanClassModalClose:focus,
.spanClassModalClose:hover{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.divClassModalImage {
  margin: 10px auto;
}

#imgIdModalPhoto {
  margin: auto;
  padding: 10px 0 10px 0;
  display: block;
}
