body {
  font-family: Arial, sans-serif;
  color: #3B5998;
}


h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0 10px 0;
}

h4 {
  font-size: 18px;
  text-align: center;
  padding: 5px 0 0 0;
}

button, input{
  font-size: 16px;
}

button{
  margin-top: 5px;
  background-color: #3B5998;
  color: #ffffff;
  padding: 10px;
}

.divClassFormArea{
  text-align: center;
  padding-top: 20px;
}

.divClassModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.divClassModalContent {
  background-color: #3B5998;
  color: #ffffff;
  margin: 15% auto;
  width: 800px;
  height: 640px;
  padding: 10px;
}

.divClassModalIcons{
  background-color: #3B5998;
  float: left;
  padding: 5px;
  width: 18%;
}

.tableClassModalIcons {
  font-size: 38px;
  text-align: center;
  width: 100%;
}

.fas:hover{
  cursor: pointer;
  color: #000000;
}

#tdIdPlusMinusIcon {
  padding-top: 10px;
  text-align: center;
}

.divClassModalImage {
  float:right;
  width: 80%;
  position: relative;
}

.divClassModalClose {
  width: 10%;
  top: 0;
  right: 0;
  float: right;
  position: absolute;
  padding-right: 10px;
}

.spanClassModalClose {
  color: #ffffff;
  float: right;
  font-size: 38px;
  font-weight: bold;
  z-index: 1;
}

.spanClassModalClose:focus,
.spanClassModalClose:hover{
  color: black;
  cursor: pointer;
  text-decoration: none;
  z-index: 1;
}
